@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: rgb(3, 3, 59);
  font-family: sans-serif;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}